a.logo img {
    height: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.logo-tho {
    display: inline-flex;
    justify-content: flex-end;
}

.logo-tho img {
    max-width: 40%;
}

.gallery_image {
    width:auto;
    max-width:none;
    display:inline;
    margin: 10px;
}

.les_codex p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.les_codex tr {
    border-bottom: 1px solid #ddd;
  }
  
.les_codex tr.header, .les_codex tr:hover {
    background-color: #f1f1f1;
  }