name: Deploy Hugo site to Pages

on:
  push:
    branches:
    - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true  # Fetch Hugo themes (true OR recursive)
        fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7

    - name: Install AsciiDoctor
      run: sudo gem install asciidoctor asciidoctor-diagram asciidoctor-html5s

    - name: Run Hugo
      run: |
        alias asciidoctor="asciidoctor --attribute=experimental=true --attribute=icons=font"
        hugo --minify

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./public

    # - name: Deploy
    #   uses: peaceiris/actions-gh-pages@v3
    #   if: ${{ github.ref == 'refs/heads/main' }}
    #   with:
    #     deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
    #     publish_dir: ./public
    #     publish_branch: gh-pages

    # - uses: sarisia/actions-status-discord@v1
    #   if: always()
    #   with:
    #     webhook: ${{ secrets.DISCORD_WEBHOOK }}
    #     title: "Mise à jour du site"
    #     description: "La nouvelle version sera disponible dans quelques minutes sur https://lartdelachance.github.io/"
    #     nodetail: true


  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

      - uses: sarisia/actions-status-discord@v1
        if: steps.deployment.outcome == 'success'
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: "Mise à jour du site"
          description: "La nouvelle version sera disponible dans quelques minutes sur https://lartdelachance.github.io/"
          nodetail: true
